.wrap {
  background-color: green;
  color: #fff;
  cursor: pointer;
  margin: 0;
  outline: none;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  padding: 12px 22px;
  transition: background-color ease 150ms, opacity ease 150ms;
}

.wrap:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.wrap:hover {
  background-color: #005e00;
}

.wrap:active {
  background-color: #004b00;
}

.wrap[data-loading="true"] {
  padding: 9px 22px;
}
