.wrap {
  background: green;
  color: #fff;
  cursor: pointer;
  margin: 0;
  outline: none;
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  padding: 12px 22px;
}

.wrap:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.wrap:hover {
  background: #005e00;
}

.wrap:active {
  background: #004b00;
}
